<% title t('index.title') %>

<%= render partial: 'application/index/header' %>

<input type="hidden" id="lang" value="<%= I18n.locale %>">

<div class="ui aligned basic segment">
  <div class="ui form">
    <%= render partial: 'application/index/algorithm_field' %>
    <div id="trace"></div>
  </div>
</div>

<%#= render partial: 'application/common/footer' %>

<%= render partial: 'application/index/teacher_modal' %>

<script>
  $(function() {
    // $('.ui.dropdown').dropdown();

    $('.ui.button.share').popup({
      popup : $('.popup.share'),
      on: 'click'
    });

    $('.ui.modal').modal({
      blurring: true
    });

    // Кнокпка "запустить"
    $('#prepare').click(function() {
      let elem = $(this);
      elem.toggleClass('loading');

      $.ajax({
        method: "GET",
        // url: '/check_expression.json',
        url: '/check_expression',
        data: { data: JSON.stringify(prepareExpression()) },
        // dataType: "json",
        error: function (jqXHR) {
          // TODO показать сообщение об ошибке
          alert('error');
        },
        success: function (data) {
          $('#trace').html(data);
        },
        complete: function() {
          elem.toggleClass('loading');
        }
      });
    });

    // Кнокпка "запустить" по нажатию на Enter
    $(document).keyup(function(event) {
      if (event.keyCode == 13) {
        $('#prepare').click();
      }
    });

    // Сохранение выражения
    $('#create_task').click(function() {
      let elem = $(this);
      elem.toggleClass('loading');

      $.ajax({
        method: "POST",
        url: '/create_task',
        data: { task: { expression: JSON.stringify(prepareExpression()) } },
        // data: { data: JSON.stringify(prepareExpression()) },
        // dataType: "json",
        error: function (jqXHR) {
          // TODO показать сообщение об ошибке
          alert('error');
        },
        success: function (data) {
          $("#task_url").val(window.location.href + data['task_path']);
        },
        complete: function() {
          elem.toggleClass('loading');
        }
      });
    });

    function prepareExpression() {
      let lang = $('#lang').val();
      let tokens_json = expressionTokens();

      return { algorithm_text: tokens_json, user_language: lang }
    };

    function expressionTokens() {
      let xml = Blockly.Xml.workspaceToDom(workspace);
      return Blockly.Xml.domToPrettyText(xml);
    };
  });
</script>
